.error {
  border-left: solid 0.2em white;
  width: 65%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error h2 {
  text-align: center;
  padding-top: 5rem;
}

.select {
  width: 30%;
  padding-top: 3rem;
}
