header {
  width: 100%;
  height: 6rem;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10;
  border-bottom: solid 0.2em white;
  display: flex;
}

.logo {
  margin: 0.5rem;
  margin-left: 3rem;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  font-size: 1.3rem;
  margin-left: 15rem;
}
