.product {
  border-left: solid 0.2em white;
  width: 65%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
}

.left-side {
  width: 45%;
  text-align: center;
  margin-left: 2rem;
}

.left-side img {
  width: 90%;
  margin-top: 4rem;
}

.right-side {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.intro {
  padding-top: 4rem;
}

h1 {
  font-size: 2rem;
}

.intro p {
  padding: 1rem 5rem;
  font-size: 1.1rem;
}
