.product {
  border-left: solid 0.2em white;
  width: 65%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
}

.left-side {
  width: 45%;
  text-align: center;
  margin-left: 2rem;
}

.left-side p {
  margin-top: 3.5rem;
  margin-right: 3rem;
  padding: 0 6rem;
  font-size: 1.1rem;
}

.left-side img {
  width: 90%;
  margin-top: 3rem;
}

.right-side {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.intro {
  padding-top: 3rem;
}

h1 {
  font-size: 2rem;
}

.intro p {
  padding: 1rem 5rem;
  font-size: 1.1rem;
}

.cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.7rem;
  margin-top: 0.3rem;
}

.cart button {
  padding: 1rem 3rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: white;
  margin-right: 1rem;
  cursor: pointer;
}
