.shops {
  display: flex;
  margin-left: -4rem;
  margin-right: 4rem;
  margin-top: 3rem;
  justify-content: space-around;
}

.box-shop {
  background-color: #94b2ff69;
  width: 12rem;
  height: 6rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box-shop p {
  padding: 0;
}

.box-shop h4 {
  margin: 0;
  margin-top: 1rem;
}

.box-shop img {
  width: 20%;
}

.address {
  position: relative;
  width: 50%;
}

.address p {
  padding-left: 1rem;
}

.address p::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  position: absolute;
  bottom: 1.3rem;
  left: 0.4rem;
}

.available p {
  color: rgb(22, 173, 22);
}

.available p::before {
  background-color: rgb(22, 173, 22);
}

.unavailable p {
  color: rgb(173, 27, 22);
}

.unavailable p::before {
  background-color: rgb(173, 27, 22);
}
